.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 17% 27% 27%;
    grid-gap: 32px;
    align-self: center;
    justify-self: center;
    width: 1100px;
    height: 880px;
    margin: 30px 0 0 100px;
}