.age {
    @include background;
    @include grid;

    position: relative;

    grid-column: 1/3;
    grid-template-columns: 33.69rem 2.5rem 1.5rem;
    align-items: end;
    padding: $padding;

    background-image: url(../../images/indicators/gender.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 43.75rem;
    &__title {
        @include font (700, 1.25rem);
        
        grid-row: 1/1;
    }
    &__text {
        @include font (600, 0.75rem);

        position: relative;

        grid-row: 1/1;

        &--men::before {
            @include value ($color-blue);
            left: calc(100% - 36px);
        } 
        &--women::before {
            @include value ($color-pink);
            left: calc(100% - 3.25rem);;
        }
    }
}