.header {
    display: grid;
    align-items: center;
    grid-column: 1/4;
    grid-template-columns: 10vw 13vw 39.5vw 9vw;
    &__title {
        @include font (700, 1.9rem);

        display: flex;
    }
    &__search {
        @include background;
        @include font (600, 0.75rem);

        max-width: 160px;
        height: 32px;
        padding-left: 2.4rem;
        
        color: $color-content;
        
        background-image: url(../../images/header/search.png);
        background-position: 10px;
        background-repeat: no-repeat;
        background-size: 9px;
        outline: none; 

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration { 
            display: none; 
        }
    }
    &__icon {
        transition: 0.7s;
        &:hover {
            transform: rotate(360deg) scale(1.3);
        }
    }
    &__link-profile {
        position: relative;

        display: grid;
        align-items: center;
        grid-template-columns: 4vw 4vw;

        text-decoration: none;
        &:hover {
            @include background;

            color: $color-text;
        }
        &::before {
            @include profile-arrow (calc(100% - 8.1rem), rotate(-45deg));
        }
        &::after {
            @include profile-arrow (calc(100% - 7.74rem), rotate(45deg));
        }
    }
    &__link-subtitle {
        @include font (600, 1.25rem);
        
        padding-left: 0.6rem;
    }
}

